@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  color: #f8f8f8;
  background-color: #202020;
}

.container {
  width: 345px;
  max-width: 90%;
  margin: 32px auto;
  text-align: left;
}

.picture {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 345px;
  max-width: 100%;
}

.text a {
  color: #f8f8f8;
}
