@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}

body {
    width: 980px;
    margin: auto;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    color: #000000;
    background-color: #dddddd;
}
